.formContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.textField {
    width: 100%;
    max-width: 400px;
}

.submitButton {
    margin-top: 16px;
    width: fit-content;
}


.dateInput {
    font-family: monospace;
    width: 100px;
    padding: 5px;
    letter-spacing: 2px;
    border: 1px solid #ccc;
    outline: none;
  }
  
.placeholder {
    color: #ccc;
  }
  
.inputted {
    color: black;
  }